.section-home-service {
    background-color: var(--blue);
    border-radius: 1.5rem;
    padding-bottom: 6rem;
    overflow: hidden;
  }
  
  .card-content-block {
    background-color: var(--yellow);
    border-radius: 1.25rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 2.5rem;
  }
  
  .service-title {
    color: var(--black);
    margin-bottom: 1.5rem;
    font-family: Thunder, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
  }
  
  .dot {
    background-color: var(--white);
    border-radius: 100px;
    width: 10px;
    height: 10px;
    margin-bottom: 2rem;
  }
  
  .dot.no-margin {
    margin-bottom: 0;
  }
  
  .dot.case-study {
    background-color: var(--yellow);
    margin-bottom: 0;
  }
  
  .card-description {
    color: var(--black);
    font-size: 10px;
  }
  
  .spiral-sticky {
    position: sticky;
    top: 0;
  }
  
  .spiral-item {
    perspective: 90rem;
    width: 20rem;
    height: 20rem;
    position: relative;
    transform: perspective(902px);
  }
  
  .spiral-wrapper {
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
  }
  
  .spiral-box {
    transform-style: preserve-3d;
    width: 20rem;
    height: 20rem;
    transform: translate3d(0, 0, 30rem);
  }
  
  .spiral-box._04 {
    transform-style: preserve-3d;
    transform: translate3d(0, 40rem, 30rem);
  }
  
  .spiral-box._01 {
    transform-style: preserve-3d;
    transform: translate3d(0, 10rem, 30rem);
  }
  
  .spiral-box._02 {
    transform-style: preserve-3d;
    transform: translate3d(0, 20rem, 30rem);
  }
  
  .spiral-box._03 {
    transform-style: preserve-3d;
    transform: translate3d(0, 30rem, 30rem);
  }
  
  .spiral-block {
    transform-style: preserve-3d;
    position: absolute;
    inset: 0%;
    transform: rotateX(0)rotateY(45deg)rotateZ(0);
  }
  
  .spiral-block.first {
    transform-style: preserve-3d;
    transform: rotateX(0)rotateY(-3deg)rotateZ(0);
  }
  
  .spiral-content-block {
    object-fit: cover;
    background-color: #fcca32;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
  }

  